/* CSS BY Khanak Joshi */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
    --font-main: "Playfair Display", serif;
}  
/* GLOBAL STYLES (mobile first/small) */
/* MEDIA QUERY (medium) */
/* MEDIA QUERY (large) */
/* MEDIA QUERY (xl) */